@import "../vendor/normalize.css";

body {
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto Serif", serif, Times New Roman, serif family;
}
.page {
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 5px 0px 30px;
  position: relative;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 30px 0 80px 30px;
}

.nav__links {
  list-style: none;
  padding: 30px 80px 0 0;
  display: flex;
  column-gap: 20px;
  margin-bottom: 0%;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.nav__links :hover {
  color: #2f80ed;
}

.header__title {
  max-width: 729px;
  margin: 0px 80px 28px;
  font-family: "Inter", Arial, sans-serif;

  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  z-index: 1;
  line-height: 72px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}
.header__description {
  font-family: "Noto Serif", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  z-index: 1;
  max-width: 683px;
}
.header__image {
  max-width: 568px;
  max-height: 646px;

  position: absolute;

  right: 5px;
  top: 124px;
}

.header__footer {
  font-weight: 500;
  display: flex;
  padding-right: 80px;
  padding-left: 80px;
  justify-content: space-between;
  box-sizing: border-box;

  flex-grow: 1;
  align-items: flex-end;
  margin-bottom: 40px;
}

.header__footer-container {
  margin: 0;
}

.header__date {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif", sans-serif;
  color: #838383;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.menu {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  position: relative;
}

.menu__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
  text-align: center;
  position: relative;
}
.menu__subtitle {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  margin: auto;
  text-align: center;
}

.card {
  max-width: 600px;
  width: 100%;
}
.menu__card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-top: 100px;
}

.card__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__list-item {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
}

.card__list-divider {
  border-bottom: solid 1px;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 8px;
  flex-grow: 1;
}

.recipes {
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
}

.recipes__title {
  margin: 100px 80px 0;
  max-width: 580px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 24px 80px 0;
  max-width: 438px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__video {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 214px;
  gap: 40px;
}

.recipes__video-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-bottom: 24px;
}

.video_caption {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}

.reservation {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
}
.reservation__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-top: 100px;
  margin-bottom: 80px;
}

.reservation__form {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 120px;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__label {
  text-align: left;
  margin-top: 32px;
  margin-bottom: 8px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  max-width: 385px;
  min-width: 385px;
  padding: 32px;
  font-family: Inter;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  box-sizing: border-box;
  border-radius: 4px;
}
.form__button:hover {
  opacity: 0.7;
}

.form__button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  margin-bottom: 32px;
  margin-top: 32px;
  min-width: 385px;
  min-height: 60px;
  border: none;
  border-radius: 4px;
  background-color: #2f80ed;
}

.form__checkbox {
  min-width: 20px;
  min-height: 20px;
  padding-left: 12px;
  border-radius: 2px;
}

.form__checkbox_type_paragraph {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.about {
  display: flex;
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #0a2750;
}
.about__content {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 173px;
  max-width: 660px;
  margin-left: auto;
  position: relative;
}

.about__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin: 0;
  z-index: 3;
  position: relative;
  color: #fff;
}
.about__paragraph:first-child {
  padding-top: 19px;
}
.about__paragraph {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -159px;
  z-index: 1;
}

.about__circle_animation_blurred {
  animation: pulse 1.3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 60px 0;
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__logo {
  width: 152px;
  height: 32px;
  margin-left: 80px;
}

.footer__social-media {
  padding-right: 100px;
  color: #fff;
}

.footer__social-heading {
  margin: 0;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 16px 0 0;
  color: #ffffff;
}

.footer__list-item:first-child {
  margin-top: 20px;
}
.footer__social-link {
  color: #ffffff;
  text-decoration: none;
}
.footer__social-icon {
  margin-right: 16px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.footer__copyright {
  margin-top: 100px;
  margin-bottom: 60px;
  margin-left: 80px;
  color: #ffffff;
}
